html{
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: black;
    color: white;
}

h1{
    font-size: 50px;
}

#link{
    color: aquamarine;
    font-size: 16px;
}