html{
    font-family: Verdana, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

h1{
    font-size: 50px;
}

#link{
    color: aquamarine;
    font-size: 16px;
}

h2{
    font-weight: 300;
    font-size: 42px;
}

p{
    font-size: 21px;
    color: gray;
}

#video{
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

footer p{
    font-size: 12px;
    text-align: right;
    color: gray;
}
